# Dataset config files containing sensitive information
/SLI-pipeline/datasets/gmsl_MERGED_TP_J1_OSTM_OST_GMSL_ASCII_V42/harvester_config.yaml

.vs*
*.pyc

.DS_Store
=======
# data files
*.nc
*.bz2

# factors pickled files
*_factors

# Editors
.vscode/

# Mac/OSX
.DS_Store

__pycache__/
*.py[cod]
*$py.class
