# numpy==1.21.5
# cartopy==0.18.0
# pandas==1.4.2
# xarray==0.20.1
# pyresample==1.23.0
# xgcm==0.7.0
# xmitgcm==0.5.2
# matplotlib==3.5.1
# netCDF4==1.5.7
numpy
pandas
xarray
pyresample
xgcm
xmitgcm
netCDF4
boto3